
@font-face {
  font-family: "ronet";
  src: local("ronet"),
   url("./assets/fonts/ronet.ttf") format("truetype");
  font-weight: bold;
  }
@font-face {
  font-family: "tcm";
  src: local("tcm"),
   url("./assets/fonts/tcm.ttf") format("truetype");
  font-weight: bold;
  }

img{
  max-width: 100%;
  height: auto;
}

*{
  box-sizing: border-box;
}

body,p,h2,ul,li{
  margin: 0;
  padding: 0;
}

body{
  color: #fff;
  max-width: 100%;
}
button{
  background-color: transparent;
  border:none ;
}

ul,li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

